@import "tailwindcss";


:root{

--primary:#38bdf8;

}


*{

box-sizing:border-box;

}



html{

scroll-behavior:smooth;

}



body{

margin:0;

font-family:

Inter,

system-ui,

sans-serif;


background:

radial-gradient(

circle at top,

#172554,

#020617 60%

);


color:white;

}



.glass{

background:

rgba(255,255,255,0.06);


backdrop-filter:

blur(20px);


border:

1px solid

rgba(255,255,255,.1);

}



.gradient-text{

background:

linear-gradient(

90deg,

#38bdf8,

#818cf8

);


-webkit-background-clip:text;

color:transparent;

}



.container-custom{

width:90%;

max-width:1200px;

margin:auto;

}



::-webkit-scrollbar{

width:8px;

}


::-webkit-scrollbar-thumb{

background:#38bdf8;

border-radius:20px;

}